@font-face {
    font-family: 'Nightbird';
    src: url('../fonts/nightbird-webfont.eot');
    src: url('../fonts/nightbird-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nightbird-webfont.woff') format('woff'),
         url('../fonts/nightbird-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Face Your Fears';
    src: url('../fonts/face_your_fears-webfont.eot');
    src: url('../fonts/face_your_fears-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/face_your_fears-webfont.woff') format('woff'),
         url('../fonts/face_your_fears-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bloody';
    src: url('../fonts/bloody.eot');
    src: url('../fonts/bloody.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bloody.woff') format('woff'),
         url('../fonts/bloody.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimes Six';
    src: url('../fonts/crimes_times_six.eot');
    src: url('../fonts/crimes_times_six.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crimes_times_six.woff') format('woff'),
         url('../fonts/crimes_times_six.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frankentype';
    src: url('../fonts/frankentype.eot');
    src: url('../fonts/frankentype.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frankentype.woff') format('woff'),
         url('../fonts/frankentype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Monsterama';
    src: url('../fonts/mosnterama.eot');
    src: url('../fonts/mosnterama.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mosnterama.woff') format('woff'),
         url('../fonts/mosnterama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.make-spooky {
	opacity: 0;
}

.spooky-wrap {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform: perspective(300px);
	-webkit-transform: perspective(300px);
}

.spooky-text {
	display: inline-block;
	color: #fff;
	font-size: 2.5em;
	opacity: 0;
}

.spooky-char {
    opacity: 0;
	display: inline-block;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;


	background-repeat: repeat;
	background-size: 100% auto;
	background-image: url('../images/text-grunge-1.png');
   
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.spooky-link {
    cursor: pointer;
}
