    <style>

      @-webkit-keyframes pulse {
        0%   { background: rgba(150, 0, 0, 0.66); }
        100% { background: rgba(150, 0, 0, 1.0); }
      }
      @-moz-keyframes pulse {
        0%   { background: rgba(150, 0, 0, 0.66); }
        100% { background: rgba(150, 0, 0, 1.0); }
      }
      @-o-keyframes pulse {
        0%   { background: rgba(150, 0, 0, 0.66); }
        100% { background: rgba(150, 0, 0, 1.0); }
      }
      @keyframes pulse {
        0%   { background: rgba(150, 0, 0, 0.66); }
        100% { background: rgba(150, 0, 0, 1.0); }
      }

      @font-face {
          font-family: 'populaireregular';
          src: url('fonts/populaire-webfont.eot');
          src: url('fonts/populaire-webfont.eot?#iefix') format('embedded-opentype'),
               url('fonts/populaire-webfont.woff') format('woff'),
               url('fonts/populaire-webfont.ttf') format('truetype'),
               url('fonts/populaire-webfont.svg#populaireregular') format('svg');
          font-weight: normal;
          font-style: normal;
      }

      * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: 'populaireregular';
        font-size: 30px;
        background: #111;
        color: #fff;
      }
      #content {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -400px;
        display: none;
        width: 800px;
        height: 500px;
        overflow: hidden;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #6932ff; /* Old browsers */
        background: -moz-linear-gradient(top, #6932ff 0%, #815dad 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6932ff), color-stop(100%,#815dad)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #6932ff 0%,#815dad 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #6932ff 0%,#815dad 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #6932ff 0%,#815dad 100%); /* IE10+ */
        background: linear-gradient(to bottom, #6932ff 0%,#815dad 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6932ff', endColorstr='#815dad',GradientType=0 ); /* IE6-9 */
      }
      .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(./images/bg.png) center center;
      }
      #score {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        padding: 20px;
      }
      #stats {
        position: absolute;
        display: none;
/*        display: block;*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.66);
        z-index: 9999;
      }
      #stats > div {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 250px;
        height: 150px;
        margin-left: -125px;
        margin-top: -101px;
        padding: 25px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
/*        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);*/
        background: rgba(0, 0, 0, 0.5);
      }
      button {
        border: 0;
        background: transparent;
        text-decoration: underline;
        font-family: 'populaireregular';
        font-size: 30px;
        cursor: pointer;
        color: #fff;
      }
      button:hover {
        text-decoration: none;
      }
      .score:before {
        content: "Your Score: ";
      }
      .highscore:before {
        content: "Previous High Score: ";
      }
      .scripts {
        display: none;
      }
      #offer {
      	text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
      }
      #offer .wrapper {
/*        background: rgba(255, 0, 0, 0.66);*/
        -webkit-animation: pulse 2s infinite; /* Safari 4+ */
        -moz-animation:    pulse 2s infinite; /* Fx 5+ */
        -o-animation:      pulse 2s infinite; /* Opera 12+ */
        animation:         pulse 2s infinite; /* IE 10+ */
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
      }
      #offer .wrapper > div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -102px;
        margin-top: -36px;
      }
    </style>
    <div id="content">
      <div class="wrapper"></div>
      <div id="score">0</div>
      <div id="stats">
        <div>
          <div class="highscore"></div>
          <div class="score"></div>
          <br />
          <button>Play Again</button>
        </div>
      </div>
    </div>

    <div id="offer" ng-show="offer">
      <div class="wrapper">
        <div>
          Wanna play a real game?<br />
          <spooky class="spooky-link" ng-click="agree()">Agree</spooky>
        	&nbsp;
        	<spooky class="spooky-link" ng-click="disagree()">Keep Playing</spooky>
        </div>
      </div>
    </div>
